.search_form {
    float:left;
    width:90%;
    margin-left:5%;
    font-size:200%;
}

.search_form input {
    margin:0.25em;
}

.search_form h4 {
    float:left;
    text-align:left;
}

.flags {
    margin-top:0.5em;
    float:left;
    margin-left:5%;
    width:90%;
    font-size:150%;
}

.flags table {
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

.flags th {
    width:25%;
    text-align:center;
}

.flags td,th {
    border:0px dashed green;
    text-align:left;
}

.flag {
    font-weight:normal;
    border:0px solid black;
    width:auto;
    height:auto;
    float:left;
}

.flag img {
    /* keep the ratio of 10/6. */
    width:150px;
    height:90px;
    /* depends on the above, though the arithmetical relation is not known to me. */
    margin-left:35px;
}

.smallflag img {
    width:75px;
    height:49.500px;
}

.flags ul {
    padding:0;
    list-style-type: square;
    list-style-position:outside;
}

.flags li {
    whitespace:no-wrap;
    text-align:left;
}
